

.main_container{
    display: flex;
}

.left_side{
    width: 700px;
    height: 640px;
}

.right_side{
    width: 700px;
    height: 640px;
    background-color: #FFFFFF;
}

.right_left{

    width: 400px;
    height: 240px;
    margin-top:120px ;
    margin-left: 150px;
    
}

.active{
 color: green;
}



/* 
 .main_container{
    display: flex;
}

.left_side{
    width: 900px;
    height: 640px;
}

.right_side{
    position: fixed;
    left: 700px;
    width: 300px;
    height: 640px;
    background-color: #FFFFFF;
}

.right_left{

    width: 400px;
    height: 240px;
    margin-top:120px ;
    margin-left: 150px;
    
}

.active{
 color: green;
}

 */
